@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#chat {
  border: 1px solid black;
  width: 250px;
  height: 832px;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  overflow-y: scroll;
}

.message {
  border-bottom: 1px solid grey;
}

.message-user {
  background-color: lightgrey;
}

.message .player {
  background-color: aqua;
  font-weight: bold;
}

#stage {
  width: 1088px;
  height: 832px;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  margin-right: 10px;
}

#ui {
  z-index: 3;
}
#game {
  z-index: 2;
}
#background {
  z-index: 1;
}

canvas {
  width: 1088px;
  height: 832px;
  position: absolute;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.toastify {
  font-family: "Courier New", Courier, monospace;
}

.shake {
  animation: shake 0.82s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
