* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#stage {
  width: 1088px;
  height: 832px;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
}

#ui {
  z-index: 3;
}
#game {
  z-index: 2;
}
#background {
  z-index: 1;
}

canvas {
  width: 1088px;
  height: 832px;
  position: absolute;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.toastify {
  font-family: "Courier New", Courier, monospace;
}
